

  .page-header img {
    display: block;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(255, 167, 248, 0.81);
    transition: transform 0.4s ease, filter 0.4s ease;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
  }
  
  .page-header img:hover {
    transform: scale(1.03);
    filter: brightness(1.05) saturate(1.1);
  }
  
  .page-header p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3rem;
    line-height: 1.7;
    color: #40002c;
    text-align: left;
    flex: 1;
    max-width: 600px;
    padding: 1rem;
  }
  .page-header {
    width: 100vw;
    position: relative;
    z-index: 5;
    animation: slideIn 2s ease-out forwards;
    padding: 3rem 2rem;
    background-color: rgba(255, 255, 255, 0.7); /* Light background for box */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .page-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    background: linear-gradient(to right, #88005a, #ffa7dd);
    -webkit-background-clip: fill;
    -webkit-text-fill-color: rgb(46, 1, 38);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 2rem;
  }
  @keyframes slideIn{
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(0%)
    }
  }

  .intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
  }