
@keyframes slideUpFade {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .blogs header h1 {
    animation-delay: 0.2s;
  }
  
  .blogs header p {
    animation-delay: 0.5s;
  }
  
  .blog-intro h1 {
  font-family: 'Playfair Display', serif;
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-weight: bold;
  margin-top: 2rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(to right, #64445f, #8e048e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color:#342039fb;
  background-clip: text;
  
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 02rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.blog-card {
    background: linear-gradient(135deg, #fff0f8, #e2d4f7);
    border-radius: 1.5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: transform 0.4s ease, filter 0.3s ease;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.blog-card a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #40002c;
    font-weight: bold;
    display: block;
}

.blog-card:hover {
    transform: scale(1.08);
    z-index: 2;
}


.blog-grid:hover .blog-card {
    filter: blur(4px);
    opacity: 0.6;

}

.blog-grid .blog-card:hover {
    filter: blur(0);
    opacity: 1;
}

.blog-intro-wrapper{
display: flex;
justify-content: center;
padding:5rem 3rem;
background: rgba(255, 198, 247, 0.308);
border-radius: 2rem;
margin:auto;
max-width: 900px;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
box-shadow:0 8px 25px rgba(55, 2, 38, 0.579);
font-size:20px;
}

.blog-intro{
  text-align: center;
  animation: fadeInSlideUp 1.2s ease-out forwards;
  opacity: 0;
  padding: 2rem 2rem;
}
.blog-intro p{
  font-family: 'Cormont Garamond', serif;
  font-size: 50px;
  color:#4a0038;
  opacity: 0.85;
  line-height: 1.7;
}
@keyframes fadeInSlideUp{
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
#aurora-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
 
}
.content-box {
  background-color: #fff6f9;
  border: 2px solid #ffd6e0;
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 900px;
  width:100%;
  box-shadow: 0 8px 20px rgba(255, 182, 193, 0.25);
}