
@keyframes slideUpFade {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .blogs header h1 {
    animation-delay: 0.2s;
  }
  
  .blogs header p {
    animation-delay: 0.5s;
  }
  
  .blogs header h1 {
    width: 100vw;
    position: relative;
    z-index: 5;
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    background: linear-gradient(to right, #5e013f, #a56a8f);
    -webkit-background-clip: fill;
    -webkit-text-fill-color:#eeb0d6 ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 3rem;
  }



  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.blog-card {
    background: linear-gradient(135deg, #ffcce7, #e2d4f7);
    border-radius: 1.5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    transition: transform 0.4s ease, filter 0.3s ease;
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.blog-card a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #40002c;
    font-weight: bold;
    display: block;
}

.blog-card:hover {
    transform: scale(1.08);
    z-index: 2;
}


.blog-grid:hover .blog-card {
    filter: blur(4px);
    opacity: 0.6;

}

.blog-grid .blog-card:hover {
    filter: blur(0);
    opacity: 1;
}

.blog-intro-wrapper{
dispay: flex;
justify-content: center;
padding:3rem 1rem;
background: rgba(225, 240, 250, 0.3);
border-radius: 2rem;
margin:2rem auto;
max-width: 900px;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
box-shadow:0 8px 25px rgba(136, 0, 90, 0.1)
}

.blog-intro{
  text-align: center;
  animation: fadeInSlideUp 1.2s ease-out forwards;
  opacity: 0;
  padding: 1rem 2rem;
}
.blog-intro p{
  font-family: 'Cormont Garamond', serif;
  font-size: 1.6em;
  color:#4a0038;
  opacity: 0.85;
  line-height: 1.7;
}
@keyframes fadeInSlideUp{
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
