

body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    background: linear-gradient(to bottom right, #ffe6f7, #e6f2ff);
    color: #4a0033;
    padding: 2rem;
    line-height: 1.8;

  }
  .blog-post {
    max-width: 850px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgb(255, 93, 242);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
  }
  
  .blog-post:hover {
    transform: scale(1.01);
  }
  
  .blog-post h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #ff99cc, #9966cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .blog-post h2 {
    font-size: 2rem;
    margin-top: 2rem;
    color: #230015;
    text-align: left;
  }
  
  .blog-post h3 {
    font-size: 1.2rem;
    color: #230015;
    text-align: center;
  }
  
  .blog-post p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: left;
 }
  
  .blog-post a {
    color: #800080;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .blog-post a:hover {
    color: #cc66ff;
    transform: scale(1.01);
  }
  

  
  nav a {
    display: inline-block;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    background: #ffccf9;
    border-radius: 8px;
    color: #4a0033;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  nav a:hover {
    background: #e6ccff;
  }

  a:hover{
    color: #cc66ff;
    transform: scale(1.01);
  }
  
  a{
    color: #800080;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }